  
    <!-- <div class="page-header">
      
      <input type="text" ng-model="searchText" id="searchbox" placeholder="type the words you want to search..."></input>
      
    </div> -->
    
    
    <!-- <ul ng-repeat="note in notes | filter:searchFilter()">
      <li ui-sref="note({id: note._id, searchText: searchText})" class="note-item">
        <h4 class="note-title">{{note.title}}</h4>
        <span ng-if="note.matches" class="match-number">{{note.matches}}</span>
      </li>
    </ul>
    <form style="margin-top:30px;" ng-submit="addNote()" class="form-group">
      <label for="titlebox">Title: </label>
      <input type="textarea" ng-model="newNote.title" class="form-control"></input>
      <button class="btn btn-primary" type="submit">Post</button>
    </form> -->


          <div class="todo">
            <div class="todo-search">
              <input class="todo-search-field" type="search" value="" placeholder="Search" ng-model="searchText">
            </div>
            <ul ng-repeat="note in notes | filter:searchFilter()">
              <li ui-sref="note({id: note._id, searchText: searchText})">
                <div class="todo-content">
                  <h4 class="todo-name">
                    {{note.title}}
                  </h4>
                  <h4 class="todo-name" ng-if="note.matches">
                    {{note.matches}}
                  </h4>
                </div>
                
              </li>
              
            </ul>
          </div><!-- /.todo -->
    