.highlight { 
	background-color: yellow;
	color: black;
}

#notecontent{
	height: 90%;
}

#textbox{
	height: 90%;
}

pre{
	background-color: #34495e;
	color: white;
}

.todo ul{
	border-radius: 0 0;
}

.input-group-btn .btn{
	color: #34495e;
}

/*.todo-search{
	background-color: pink;
}

.btn-primary{
	background-color: pink;
}*/

